* {
    background-color: #1F2937;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    background-color: #1F2937;
    display: flex;
    list-style-type: none;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: none;
}

.headerlinks {
   color: #F9FAF8;

}
